*.md
.agents
.codex
/__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
.idea/
.vscode/
.DS_Store
*.log
*.bak
*.tmp
*.swp
*.swo
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.cache
.pyre/
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
*.pdf